<div class="col-md-6 offset-md-3">
  <h3> Update Author </h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> First name </label>
      <input type="text" class="form-control" id="firstName"
             [(ngModel)]="author.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label> Last name</label>
      <input [(ngModel)]="author.lastName" class="form-control" id="lastName"
             name="lastName" type="text">

    </div>

    <div class="form-group">
      <label> Birth date</label>
      <input [(ngModel)]="author.birthDate" class="form-control" id="birthDate"
             name="birthDate" type="date">

    </div>

    <button class="btn btn-success" type="submit">Submit</button>

  </form>
</div>
