<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h2> Book List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th> Title</th>
    <th> Language</th>
    <th> Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">

    <td> {{ book.title }} </td>
    <td> {{ book.language }} </td>
    <td> {{ book.price }}  դրամ </td>
    <td>
      <button (click)="updateBook(book['id'])" class="btn btn-info"> Update</button>
      <button (click)="bookDetails(book['id'])" class="btn btn-info" style="margin-left: 10px"> View</button>
      <button (click)="deleteBook(book['id'])" class="btn btn-danger" style="margin-left: 10px"> Delete</button>

    </td>
  </tr>
  </tbody>


</table>

</body>
